/*!
 * CodaOnManager OriginalCss
 * 
 * 
 */

 .code_body{
         background-image: repeating-linear-gradient(to bottom,
         rgba(40, 10, 10),
         rgb(40, 10, 10) calc(1.5rem - 1px),
         rgba(140, 160, 150, 0.6)  calc(1.5rem - 1px),
         rgba(140, 160, 150, 0.6)   1.5rem,
         rgb(40, 10, 10, 0.8) 1.5rem);
         padding : 0em;
         overflow: hidden;
 }

 #code_wirite{
        padding-right:15px;
        background-color: rgba(0,0,0,0.1);
        color: aliceblue;
        caret-color:rgb(150,100,20)
 }

 #col_num{
        list-style: none;
        text-align: right;
 }
