/*!
 * CodaOnManager OriginalCss
 * 
 * 
 */

 html{
       font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ';
 }

 textarea:focus {
       outline: none;
   }

 #code_wirite{
        background-color:  rgba(0, 0, 0, 0);
        color: aliceblue;
        caret-color:rgb(250,250,250);
        width:100%;
        padding: 0px;
 }

 #col_num{
        list-style: none;
        text-align: right;
 }

 .menubtn{
        width: 100%;
 }

 .titelber{
        border: solid 1px snow;
 }

 .spacezero{
        margin: 0px;
        padding: 0px;
 }

 #Hello{
        display: block;
 }
 #Sign{
       width:50%;
       margin:1.5em auto 0;
       padding:10px 20px;
       border:2px solid #aaa;
       background:rgba(111, 213, 216, 0.8);
       z-index:2;
       position:fixed;
       display: none;

       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       -webkit-transform: translate(-50%, -50%);
       -ms-transform: translate(-50%, -50%);

 }
 #Sign-overlay{
	z-index:1;
	display:none;
	width:100%;
	height:120%;
       background-color:rgba(0,0,0,0.75);
       
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       -webkit-transform: translate(-50%, -50%);
       -ms-transform: translate(-50%, -50%);
}
#Registration_Page{
       background-color: rgba(255,255,255,0.6);
       background-image: url("../img/Registration_Back.jpg");
       background-blend-mode:lighten;
       background-size: contain;
       font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ';
}
#Create_btn{
       padding: 5px;
       height: 60px;
       width: 150px;
       border-radius: 10px;
       background-image: url("../img/CreateUser_btn.jpg");
       background-size: cover;
}
#Sign_btn{
       padding: 5px;
       height: 60px;
       width: 150px;
       border-radius: 10px;
       background-image: url("../img/Sign_btn.jpg");
       background-size: cover;
}
#Registration{
       width:50%;
       margin:1.5em auto 0;
       padding:10px 20px;
       border:2px solid #aaa;
       background:rgba(111, 213, 216, 0.8);
       z-index:2;
       position:fixed;
       display: block;
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       -webkit-transform: translate(-50%, -50%);
       -ms-transform: translate(-50%, -50%);

 }     
 #Registration-overlay{
	z-index:1;
	display:block;
	width:100%;
	height:120%;
       background-color:rgba(0,0,0,0.75);
       
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       -webkit-transform: translate(-50%, -50%);
       -ms-transform: translate(-50%, -50%);
}

#Main_Header{
       height: 10%;
}

#fileTable{
       color: aliceblue;
       background-color: rgb(60, 30, 80,0.1);
       overflow-y: auto;
}


.w-40{
width:40%;
}
.tr_data{
width: 100%;
}

.td_data_title{
       padding-left: 3%;
       padding-right:0px ;
       padding-top:0px ;
       padding-bottom:0px ;
       margin: 0;    
       border: solid 1px rgba(95, 80, 150,0.5);
       width: 80%;
       min-width: 400px;
}

.td_data_btn{
       padding-left: 3%;
       padding-right:0px ;
       padding-top:0px ;
       padding-bottom:0px ;
       margin: 0;    
       border: solid 1px rgba(95, 80, 150,0.5);
       width: 20%;
       min-width: 400px;
}
.Codebtn{
       background-color: azure;
       margin-left: 3%;
       margin-right : 3%;      
       border-radius: 30px;

}
.table_head{
       height: 70px;
}

.td_header1{
       background-color: rgb(60, 30, 80,0.3);
       padding-left: 3%;
       padding-right:0px ;
       padding-top:0px ;
       padding-bottom:0px ;

       border-top: solid 1px rgba(95, 80, 150,0.5);
       border-bottom: double 5px rgba(255, 255, 255,0.5);
       border-left:  solid 1px rgba(95, 80, 150,0.5);
}

.td_header2{
       background-color: rgb(60, 30, 80,0.3);

       padding-left: 0px;
       padding-right:0px ;
       padding-top:0px ;
       padding-bottom:0px ;

       border-top: solid 1px rgba(95, 80, 150,0.5);
       border-bottom: double 5px rgba(255, 255, 255,0.5);
       border-right:  solid 1px rgba(95, 80, 150,0.5);
}

.h-10{
       height: 10%;
}

.container_back{
       background-color: rgba(255,255,255,0.1);
}

#fileTable{
       overflow-y:scroll ;
       display: block;
       width: 100%;
}