/*!
 * CodaOnManager OriginalCss
 * 
 * 
 */
 textarea:focus {
       outline: none;
   }


 #code_wirite{
        background-color: rgba(0,0,0,0.1);
        color: aliceblue;
        caret-color:rgb(250,250,250);
        width:100%;
        padding: 0px;
 }

 #col_num{
        list-style: none;
        text-align: right;
 }

 .menubtn{
        width: 100%;
 }
