/*!
 * CodaOnManager OriginalCss
 * 
 * 
 */

 html{
       font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ';
 }

 textarea:focus {
       outline: none;
   }

 #code_wirite{
        background-color:  rgba(0, 0, 0, 0);
        color: aliceblue;
        caret-color:rgb(250,250,250);
        width:100%;
        padding: 0px;
 }

 #col_num{
        list-style: none;
        text-align: right;
 }

 .menubtn{
        width: 100%;
 }

 .titelber{
        border: solid 1px snow;
 }

 .spacezero{
        margin: 0px;
        padding: 0px;
 }

 #Hello{
        display: block;
 }
 #Sign{
       width:50%;
       margin:1.5em auto 0;
       padding:10px 20px;
       border:2px solid #aaa;
       background:rgba(111, 213, 216, 0.8);
       z-index:2;
       position:fixed;
       display: none;

       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       -webkit-transform: translate(-50%, -50%);
       -ms-transform: translate(-50%, -50%);

 }
 #Sign-overlay{
	z-index:1;
	display:none;
	width:100%;
	height:120%;
       background-color:rgba(0,0,0,0.75);
       
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       -webkit-transform: translate(-50%, -50%);
       -ms-transform: translate(-50%, -50%);
}
#Registration_Page{
       background-color: rgba(255,255,255,0.6);
       background-image: url("../img/Registration_Back.jpg");
       background-blend-mode:lighten;
       background-size: contain;
       font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ';
}

#user_code_btn{
       height: 60px;
       width: 130px;
       border-radius: 5px;
       background-image: url("../img/code_btn.jpg");
       background-size: contain;
}