<!DOCTYPE html>
<html class = "h-100"  xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/origin.css}" href="../static/css/origin.css" rel="stylesheet" type="text/css">
    <link th:href="@{/css/bootstrap.css}" href="../static/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link th:href="@{/css/jquery-linedtextarea.css}" href="../static/css/jquery-linedtextarea.css" rel="stylesheet" type="text/css">  
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    
    <title>Coda for Browser</title>
</head>
<body class = "h-100" style="background-color: rgba(48, 48, 50);">
    <div class = "container h-100 container_back">
        <div class = "row">
            <div class ="col-sm-12 h-25" id="Main_Header">
                <img class ="spacezero" th:src="@{/img/Main_Header.jpg}" >
            </div>
        </div>
            <div class = "row">
            <div class ="col-sm-3 bg-secondary">
                <form action="Filelist" method="get">
                <input type="submit" value="FileList" class = "Codebtn w-100">
                </form>
            </div>
            
            <div class ="col-sm-3 bg-secondary">
            </div>   

            <div class ="col-sm-3 bg-secondary">
            </div>   

            <div class ="col-sm-3 bg-secondary">
            </div>   


        </div>

        <div class = "row w-100">
            <div class="col-sm-12">
            <form id = "codeArea"th:object="${code}">
            <input type ="hidden" th:field="*{id}">
            <input type ="hidden" th:field="*{Create_user_id}">
            FileName:
            <input type="text" class="h-10 w-25" th:field ="*{Codename}">
            <textarea class="lined" rows="30" cols="20" id ="code_wirite" th:field ="*{Codebody}"></textarea>
            </form>
            </div>

            <div class="col-sm-12" style="text-align: right;">
            <input type="submit" form="codeArea" value="Upload" formaction="Upload" formmethod="post" class = "Codebtn w-25" >
            </form>    

            <div>
        </div>


        </div>
    
</body>

<script>
    $(function() {
        $(".lined").linedtextarea(
            {selectedLine: 100}
        );
    });
    </script>

<script type="text/javascript" src="../static/js/Editor.js" th:src="@{/js/Editor.js}"></script>
<script type="text/javascript" src="../static/js/jquery-linedtextarea.js" th:src="@{/js/jquery-linedtextarea.js}"></script>
<script type="text/javascript" src="../static/js/bootstrap.js" th:src="@{/js/jquery-linedtextarea.js}"></script>

</html>