<!DOCTYPE html>
<html class = "h-100"  xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/origin.css}" href="../static/css/origin.css" rel="stylesheet" type="text/css">
    <link th:href="@{/css/bootstrap.css}" href="../static/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link th:href="@{/css/jquery-linedtextarea.css}" href="../static/css/jquery-linedtextarea.css" rel="stylesheet" type="text/css">  
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    
    <title>Coda for Browser</title>
</head>
<body class = "h-100" style="background-color: rgba(48, 48, 50);">
<div class = "row" th:object="${user}">
    <div class ="col-sm-6">
        <h1 th:text="*{Id}"></h1>
    </div>
    <div class ="col-sm-6">
        <h1 th:text = "*{Name}"></h1>
    </div>
</div>

<form action ="Editor" method="get">
    <input type="submit" value="作成">
</from>

<div class ="row">
<div class ="col-sm-12">    
    <tbody>
        
    <tr th:each="code : ${codes}" th:object="${code}">
        <td th:field="*{Id}"></td>
        <td th:field="*{Codename}"></td>
        <form action="Editor" method="POST" th:object="${code}">
        <td>
            <input type = "hidden" th:field ="*{Id}">
            <input type = "submit" value="Edit">
        </td>
        </form>

        <form action="code_DELETE" method="POST" th:object="${code}">
        <td>
            <input type="hidden" th:field="*{Id}">
            <input type = "submit" value="Delete">
        </td>
        </form>
    


    </tr>
</tbody>
</div>
</div>

</body>
</html>