<!DOCTYPE html>
<html class = "h-100"  xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/origin.css}" href="../static/css/origin.css" rel="stylesheet" type="text/css">
    <link th:href="@{/css/bootstrap.css}" href="../static/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link th:href="@{/css/jquery-linedtextarea.css}" href="../static/css/jquery-linedtextarea.css" rel="stylesheet" type="text/css">
  
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
   
    <title>RegistrationUser -レジストレーションユーザー-</title>
</head>
<body class = "h-100" style="background-color: rgba(48, 48, 50);">
<div class ="container h-100" style="border: solid 1px whitesmoke; background-color:darkgrey; opacity:0.7">
    <div class ="row spacezero h-100" id="Registration_Page">
        <form action="/Registration_User" method="post">
        <h1>Registration_information</h1>
        E-mail Address - メールアドレス<br>
        <input type ="text">
        <p></p>
        UserName - ユーザー名 -<br>
        <input type ="text">
        <p></p>
        Password - パスワード -<br>
        <input type ="text">
        <p></p>
        Secret Question - 秘密の質問 -<br>
        What is the name of your first lover? <br> - 初めての恋人の名前は? -<br> 
        <input type ="text">
        <p></p>
        <input type ="button" value="Send">
    </form>

    </div>
</div>
 
</body>
<script type="text/javascript" src="../static/js/siginup.js" th:src="@{/js/siginup.js}"></script>
<script type="text/javascript" src="../static/js/Editor.js" th:src="@{/js/Editor.js}"></script>
<script type="text/javascript" src="../static/js/bootstrap.js" th:src="@{/js/jquery-linedtextarea.js}"></script>

</html>