<!DOCTYPE html>
<html>
<head>
    <link rel="StyleSheet" href="/coda_on_manager/src/main/resources/static/css/bootstrap.css">

    <title>StartUpMenu</title>
    <style>
    .contents-size{
        height: 100%;
    }
    .MainMenu{
        text-align: center;
    }
    .Mbtn{
    width: 100%;
    }
    .topborad{
        height: 30%;
    }
    </style>


</head>
<body  style="height: 1300px;">
    <div class = "container h-50 ">
        <div class = "row-sm">
            <div class ="col-md-12 bg-secondary">
                Coda On Manager
            </div>
        </div>

        <div class = "row topborad" >
            <div class ="col-md-12  h-7" style="background:linear-gradient(rgba(20,20,20),rgba(150,150,150))">
                Welcome New Apps
            </div>
        </div>


        <div class = "row">
            <div class = "col-sm-4 bg-primary MainMenu">
                <input type ="button" value="Submit" class = "Mbtn">
            </div>
            <div class = "col-sm-4 bg-primary MainMenu">
                <input type ="button" value="Submit" class = "Mbtn">
            </div>
            <div class = "col-sm-4 bg-primary MainMenu">
                <input type ="button" value="Submit" class = "Mbtn">
            </div>
    
        </div>

    </div>
</body>

</html>