<!DOCTYPE html>
<html class = "h-100"  xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/origin.css}" href="../static/css/origin.css" rel="stylesheet" type="text/css">
    <link th:href="@{/css/bootstrap.css}" href="../static/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link th:href="@{/css/jquery-linedtextarea.css}" href="../static/css/jquery-linedtextarea.css" rel="stylesheet" type="text/css">  
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    
    <title>StartUpMenu</title>
</head>
<body class = "h-100" style="background-color: rgba(15, 25, 30);">
    <div class = "container h-100">
        <div class = "row">
            <div class ="col-md-12 bg-secondary">
                Coda On Manager
            </div>
        </div>
            <div class = "row">
            <div class ="col-md-2 bg-secondary">
                <input type="button" value="File" class = "w-100">
            </div>
            <div class ="col-md-2 bg-secondary">
                <input type="button" value="Upload"class = "w-100">
            </div>
            <div class ="col-md-2 bg-secondary">
                <input type="button" value="DownLoad" class = "w-100">
            </div>
            <div class ="col-md-6 bg-secondary">
            </div>   

        </div>

        <div class = "row">
            <div class="col-md-12">
            <textarea class="lined" rows="30" cols="20" id ="code_wirite"></textarea>
            </div>
        </div>
        <div class = "row" style="color:aliceblue">
            <div class="col-md-12">
            </div>

        </div>
    
    </div>
</body>

<script>
    $(function() {
        $(".lined").linedtextarea(
            {selectedLine: 100}
        );
    });
    </script>

<script type="text/javascript" src="../static/js/Editor.js" th:src="@{/js/Editor.js}"></script>
<script type="text/javascript" src="../static/js/jquery-linedtextarea.js" th:src="@{/js/jquery-linedtextarea.js}"></script>
<script type="text/javascript" src="../static/js/bootstrap.js" th:src="@{/js/jquery-linedtextarea.js}"></script>

</html>